<div class="fondo">
    <div class="row">
        <div class="col-12 col-md-6 parte-1">
            <div class="texto">
                <h5>Hola! Soy</h5>
                <h1>Laura Caicedo </h1>
                <h2>Fronted Developer</h2>
                <button class="btn">Contacto</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row parte-2">
                <div class="imagen col-lg-10">
                    <img src="assets/img/imagen-presentacion.png" alt="">
                </div>
                <div class="lista-contacto col-2">
                    <ul>
                        <li style="color:#fe696a"><i class="fa-solid fa-envelope"></i></li>
                        <li>Sigueme</li>
                        <li style="color:#fe696a"><i class="fa-solid fa-arrow-right"></i></li>
                        <li><i class="fa-brands fa-github-alt"></i></li>
                        <li><i class="fa-brands fa-linkedin-in"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>